.p-container{
margin-top: 80px;

}
.p-container h1{
    text-align: center;
    text-transform: uppercase;
}
.products{
margin: 40px 0 0 38px;
padding: 15px;
width: 100%;
display: grid;
grid-template-rows: 2fr 2fr 2fr;
 grid-template-columns: 2fr 2fr 2fr;

}
.p-card{
border: 1px solid ;
width: 300px;
height: auto;
margin-bottom: 20px;
border-radius: 7px;
}
.p-card img{
width: 100%;
height: 200px;
}

.p-card h2{
color: #f65314;
margin: 6px;
}

@media(max-width:1020px){
.products{
display: grid;
grid-template-columns:1fr 1fr;

   }

}
@media(max-width:730px){
.products{
justify-items: center;
display: grid;
grid-template-columns:1fr;

  }

}

